.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-container .close {
  position: absolute;
  top: 9px;
  left: calc(50% - 70px);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #515355 !important;
  justify-content: center;
  align-items: center;
  transition: 0.4s opacity;
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow: hidden;
  animation: appear 0s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.contact-container .close:hover {
  color: black !important;
  transition: 0 !important;
}
.contact-container .back {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 1.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #515355 !important;
  justify-content: center;
  align-items: center;
  transition: 0.4s opacity;
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow: hidden;
}
.contact-container .back:hover {
  color: black !important;
}

.contact-container .mail {
  position: absolute;
  left: -14rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.contact-container .mail:hover {
  transition: 0.4s;
}
.contact-container .mail:active {
  transform: scale(1.1);
  transition: 0.1s;
}
.contact-container h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 0.32rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.4rem;
  padding-bottom: 1rem;
  border-bottom-style: solid !important;
  max-width: 450px;
  transition: border 0.7s !important;
  user-select: none;
}
.contact-container h1:hover {
  border-bottom: rgb(41, 157, 245) solid 2px !important;
  transition: border 0.6s !important;
}

.contact-container p {
  position: relative;
  padding: 1rem 2rem;
  align-items: center;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  background: transparent;
  border-style: dashed !important;
  max-width: 450px;
  display: flex;
  height: 100%;
  border: transparent;
  transition: border 0.7s !important;
  cursor: pointer;
  user-select: none;
}
.contact-container p:first-child {
  margin-top: 2rem;
}
.contact-container p:hover {
  border: rgb(41, 157, 245) 2px solid !important;
  transition: border 0.6s !important;
}
.contact-container p.copied {
  padding: 1rem !important;
  background: black;
  user-select: none;
  border: rgb(41, 157, 245) 2px solid !important;
  height: 1rem;
  margin: 0 !important;
  color: white;
  position: fixed;
  z-index: 40000;
  bottom: 1.7rem;
  right: 3.95rem;
}

.contact-container h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.8rem 0;
  width: 100%;
  text-align: center;
}

.contact-container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--modals-background);
  border: 9px solid rgb(213, 212, 206);
  border-right: 0;
  color: white;
  width: 50%;
  padding: 2.4rem 4rem;
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}
.contact-container .map {
  background: rgb(0, 0, 38);
  width: 50%;
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.action-button {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 20px;
  background: transparent;
  width: 100%;
  cursor: pointer;
  color: white;
  border: solid 2px rgb(41, 157, 245) !important;
  transition: all 0.4s ease-in-out;
  max-width: 450px;
  user-select: none;
}
.action-button:hover {
  border: solid 2px rgb(2, 145, 255) !important;
  transition: border 0.3s !important;
}
.action-button:active {
  border: dotted 2px rgb(41, 157, 245) !important;
  transition: border 0s !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
