.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-container .close {
  position: absolute;
  top: 9px;
  left: calc(50% - 70px);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #515355 !important;
  justify-content: center;
  align-items: center;
  transition: 0.4s opacity;
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow: hidden;
  animation: appear 0s forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.contact-container .close:hover {
  color: black !important;
  transition: 0 !important;
}

.contact-container .back {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 1.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #515355 !important;
  justify-content: center;
  align-items: center;
  transition: 0.4s opacity;
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow: hidden;
}

.contact-container .back:hover {
  color: black !important;
}

.contact-container .mail {
  position: absolute;
  left: -14rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.contact-container .mail:hover {
  transition: 0.4s;
}

.contact-container .mail:active {
  transform: scale(1.1);
  transition: 0.1s;
}

.contact-container h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  margin-bottom: 0.32rem;
  text-align: center !important;
  margin: 0 auto;
  margin-bottom: 1.4rem;
  padding-bottom: 1rem;
  border-bottom-style: solid !important;
  transition: border 0.7s !important;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.contact-container h1:hover {
  border-bottom: rgb(41, 157, 245) solid 2px !important;
  transition: border 0.6s !important;
}

.contact-container p {
  position: relative;
  padding: 1vh 2vw;
  align-items: center;
  border-radius: 10px;
  font-family: "Open Sans";
  background: transparent;
  border-style: dashed !important;
  max-width: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  border: transparent;
  transition: border 0.7s !important;
  cursor: pointer;
  user-select: none;
  font-size: 0.70vw;
}

.contact-container p.paragraph:first-child {
  margin-top: 2rem;
}

.contact-container p.paragraph:hover {
  border: rgb(41, 157, 245) 2px solid !important;
  transition: border 0.6s !important;
}

.contact-container p.copied {
  padding: 1rem !important;
  background: black;
  user-select: none;
  border: rgb(41, 157, 245) 2px solid !important;
  height: 1rem;
  margin: 0 !important;
  width: fit-content !important;
  color: white;
  position: fixed;
  z-index: 40000;
  bottom: 1.7rem !important;
  right: 4rem;
}

.contact-container h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.8rem 0;
  width: 100%;
  text-align: center;
}

.contact-container .info {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  align-items: center;
  background: var(--modals-background);
  border: 9px solid rgb(213, 212, 206);
  border-right: 0;
  color: white;
  width: 50%;
  padding: 2.4rem 2vw;
  border-top-left-radius: 2vh !important;
  border-bottom-left-radius: 2vh !important;
}

.contact-container .map {
  background: rgb(0, 0, 38);
  width: 50%;
  border-top-right-radius: 2vh !important;
  border-bottom-right-radius: 2vh !important;
  min-height: 500px;
}

.action-button {
  font-size: .8vw;
  border-radius: 20px;
  background: transparent;
  width: 100%;
  cursor: pointer;
  color: white;
  border: solid 2px rgb(41, 157, 245) !important;
  transition: border 0.4s ease-in-out;
  max-width: 100%;
  user-select: none;
  height: 13.6vh !important;
  padding: 2vh 2rem !important;
}

.action-button:hover {
  border: solid 2px rgb(2, 145, 255) !important;
  transition: border 0.3s !important;
}

.action-button:active {
  border: dotted 2px rgb(41, 157, 245) !important;
  transition: border 0s !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* If the screen is within 2k */
@media screen and (max-width: 2561px) {

  .contact-container p:not(.copied) {
    font-size: 0.70vw;
  }
}


/* If the screen is bigger than 2k (i.e. zoom out) */
@media screen and (min-width:2561px) {

  .contact-container p {
    position: relative;
    margin: 1vh auto !important;
    border-radius: 1vh;

  }

  .contact-container .info {
    background: var(--modals-background);
    border: 9px solid rgb(213, 212, 206);
    border-right: 0;
    color: white;
    width: 50%;
    padding: 3vh 3vw;
    border-top-left-radius: 2vh !important;
    border-bottom-left-radius: 2vh !important;
  }

  .contact-container p:not(.copied) {
    font-size: 0.70vw;
  }

}