/* /////////////// */
/* DESKTOP CLASSES */
/* /////////////// */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation: appear 1.5s forwards 1s;
  transition: all 1s ease;
  height: 100vh !important;
  width: 100vw;
  margin: hidden;
}

.main-text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  user-select: none;
  color: #ffffff;
  white-space: nowrap;
}

.main-text p {
  color: #f2f2f2;
  font-family: "Lucida sans", sans-serif;
  text-align: end;
  font-size: 1vw;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  border-radius: 5rem;
  border-top-right-radius: 2rem;
}

.quack {
  transform: translateY(8px) translateX(10px);
  cursor: pointer;
  transition: all 0.1s;
}

.quack:hover {
  transform: scale(1.5) translateX(6px);
  transition: all 0.2s;
}

.quack:active {
  transition: all 0.1s ease-out;
  transform: scale(3);
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn {
  margin-top: 1rem;
  margin-right: 0 !important;
  padding: 1.7rem 4.5rem;
  border-radius: 3rem;
  border-top-left-radius: 0.9rem;
  cursor: pointer;
  border: none;
  user-select: none;
  font-size: 1.3rem;
  font-family: sans-serif !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.776);
  font-weight: 600;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: inset 2px 2px 3px #000;
  backface-visibility: hidden;
  transform: translateY(3px);
}

.separator {
  -webkit-user-drag: none;
  user-select: none;
  margin-left: 7rem;
}

.astronaut-container {
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.astronaut-text {
  transform: translateY(-3rem);
}

.astronaut-text p {
  font-size: 2.5rem !important;
  margin-top: 2rem;
}

.astronaut {
  -webkit-user-drag: none;
  user-select: none;
  opacity: 100%;
}

.btn i {
  transform: translateY(1.45px);
  font-size: 1.1rem;
  margin-left: 0.2rem;
}

/* ////////////// */
/* MOBILE CLASSES */
/* ////////////// */
.main-content-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh !important;
  opacity: 0;
  animation: appear 1.5s forwards 1s;
  transition: all 1s ease;
  margin: auto;
  z-index: -1;
  /* border: red solid 1px; */
}

.main-content-mobile .astronaut-text {
  margin-top: -0.4rem !important;
}

.btn-mobile {
  margin-top: 2.5rem;
  margin-right: 0 !important;
  padding: 1.7rem 4.5rem;
  border-radius: 3rem;
  cursor: pointer;
  border: none;
  user-select: none;
  font-size: 1.6rem;
  font-family: sans-serif !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.776);
  font-weight: 600;
}

/* /////////// */
/* ANIMATIONS */
/* ////////// */
@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
  }

  100% {
    opacity: 1;
  }
}

/* ////////////// */
/* MEDIA QUERIES */
/* ////////////// */
@media screen and (max-width: 900px) {
  .astronaut-text h1 {
    /* font-size: 3.2rem !important; */
  }

  .zoom__h1 {
    position: fixed;
    top: 9vh;
    right: 6vw;
    color: var(--canary-primary-color) !important;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vh;
    color: #f2f2f2;
    margin: 0.5rem;
    z-index: 100;
  }

  .zoom__p {
    position: fixed;
    top: 13vh;
    right: 5.8vw;
  }

  .main-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    transform: scale(0.3) translateY(30vh) !important;
    opacity: 0;
    animation: appear 1.5s forwards 1s;
    transition: all 1s ease;
    margin: auto;
    margin-top: -8rem;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    display: flex;
    justify-content: center;
    transform: scale(0.25) translateY(40vh) !important;
    text-align: center;
    transform: scale(0.22);
    opacity: 0;
    animation: appear 1.5s forwards 1s;
    transition: all 1s ease;
    margin: auto;
    margin-top: -8rem;
    z-index: -1;
  }

  .main-content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0.5);
    height: 100vh !important;
    opacity: 0;
    animation: appear 1.5s forwards 1s;
    transition: all 1s ease;
    margin: auto;
    z-index: -1;
    /* border: blueviolet solid 1px; */
  }

  .main-content-mobile .astronaut-container > * {
    margin-top: 1rem !important;
  }

  .btn-mobile {
    margin-top: 2.5rem;
    margin-right: 0 !important;
    padding: 1.7rem 4.5rem;
    border-radius: 3rem;
    cursor: pointer;
    border: none;
    user-select: none;
    font-size: 2.1rem;
    font-family: sans-serif !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.776);
    font-weight: 600;
  }
}
