.projects-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: auto;
  opacity: 0;
  animation: appear 1.5s forwards 0.8s;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

div.items {
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  padding-top: 3px;
  padding-bottom: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2.5rem 2.3rem;
  max-height: 570px !important;
  overflow: scroll;
  position: relative;
  padding-left: 0.8rem;
  width: 70%;
  height: 70%;
}

div.list {
  position: relative;
  cursor: pointer;
  padding: 0 2rem;
  border-radius: 13px !important;
  box-shadow: 0 0 0 4px transparent;
  width: 100%;
}

div.list::before {
  content: "";
  background: #000000c6;
  background-size: cover !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgb(0, 0, 0, 0.5) 100%
  );
}

div.list:hover::before {
  content: "";
  background: #000000c6;
  background-size: cover !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

div.list:hover {
  border: none;
  overflow: hidden;
}

.title-container {
  transform: translateY(0.8rem);
  font-weight: 600;
  user-select: none;
  color: white;
  font-family: "Segoe UI Variable", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.title-container p {
  transition: all 0.3s ease-in-out;
}
div.list:hover {
  transition: all 0.2s ease-in-out;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 1.2rem;
}
div.list:hover .title-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.title-container p.short {
  font-weight: 400;
  color: rgb(218, 217, 217) !important;
  display: none;
}
div.list:hover .title-container p.short {
  display: block;
}

div.list {
  padding: 1rem;
  height: 159px;
  color: rgb(72, 71, 71) !important;
  border-radius: 5px !important;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  position: relative;
  z-index: 101 !important;
}

.project-git {
  position: relative;
}

.project-git .git {
  right: 0.9rem;
  bottom: 0.9rem;
  opacity: 0;
  position: absolute;
  transform: translateY(10px);
  transition: 0.2s ease-out;
  z-index: 4000;
}
.project-git:hover .git {
  transform: translateY(0);
  opacity: 1;
}

.project-git .git.github {
  font-size: 2rem;
  transition: all 0.15s ease-out;
}
.project-git .git.github:hover {
  font-size: 2.9rem;
  transform: translateY(2px) translateX(2px);
  transition: all 0.15s ease-in;
}

.project-git .tags {
  right: 0.25rem;
  top: 0.5rem;
  opacity: 0;
  position: absolute;
  transform: translateY(10px);
  display: flex;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s ease-out;
}
.project-git .tags .tag {
  padding: 3px 6px;
  border-radius: 0.3rem;
  font-size: 15px;
  color: white;
  border: white solid 1px;
  margin: 0 3px;
}
.project-git:hover .tags .tag {
  background: rgba(0, 0, 0, 0.59);
}

@media screen and (min-height: 1080px) {
  div.items {
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    padding-top: 3px;
    padding-bottom: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2.5rem 2.3rem;
    max-height: 70% !important;
    overflow: scroll;
    position: relative;
    padding-left: 0.8rem;
    width: 70%;
    height: 60%;
  }
  .project-git .git {
    right: 0.9rem;
    bottom: 1rem;
    opacity: 0;
    position: absolute;
    transform: translateY(10px);
    transition: 0.2s ease-out;
    z-index: 4000;
  }
}

@media screen and (max-width: 1824px) {
  div.items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .project-git {
    width: 100%;
  }
}
@media screen and (max-width: 1604px) {
  div.items {
    grid-template-columns: repeat(2, 1fr);
    transition: all 1s;
  }
}
@media screen and (max-width: 1200px) {
  .title-container {
    transform: translateX(0) translateY(0);
    margin-bottom: -9px;
  }
  div.items {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-left: 0;
    padding-bottom: 0rem;
  }
  div.list:hover {
    padding: 0.8rem 1.2rem;
  }
}

@media screen and (max-width: 870px) {
  .projects-section {
    height: 100%;
    overflow: hidden;
  }
  .projects {
    align-items: baseline;
    margin-top: 0.5rem;
  }
  .project-git {
    justify-content: center;
    align-items: center;
  }
  div.list {
    width: 100%;
    border-radius: 10px !important;
  }

  div.items {
    font-size: 16px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center !important;
    padding-bottom: 0rem;
    overflow: hidden;
    max-height: 100% !important;
    min-height: 100%;
  }
  div.items.leaf > div > a > div:active {
    border: 4px solid var(--leaf-primary-color) !important;
  }
  div.items.magenta > div > a > div:active {
    border: 4px solid var(--magenta-primary-color) !important;
  }
  div.items.ocean > div > a > div:active {
    border: 4px solid var(--ocean-primary-color) !important;
  }
  div.items.canary > div > a > div:active {
    border: 4px solid var(--canary-primary-color) !important;
  }
  div.items.leaf > div > a > div:focus {
    border: 4px solid var(--leaf-primary-color) !important;
  }
  div.items.magenta > div > a > div:focus {
    border: 4px solid var(--magenta-primary-color) !important;
  }
  div.items.ocean > div > a > div:focus {
    border: 4px solid var(--ocean-primary-color) !important;
  }
  div.items.canary > div > a > div:focus {
    border: 4px solid var(--canary-primary-color) !important;
  }
}

@media screen and (max-height: 800px) {
  .projects-section {
    margin-bottom: 0;
  }
}

div.leaf-hover {
  border: 4px solid var(--leaf-primary-color) !important;
}
div.magenta-hover {
  border: 4px solid var(--magenta-primary-color) !important;
}
div.canary-hover {
  border: 4px solid var(--canary-primary-color) !important;
}
div.ocean-hover {
  border: 4px solid var(--ocean-primary-color) !important;
}

.items.leaf::-webkit-scrollbar-thumb {
  background: var(--leaf-primary-color-darker);
  /* background: var(--leaf-active); */
  border: 0px none #ffffff;
  border-radius: 2rem;
}
.items.magenta::-webkit-scrollbar-thumb {
  background: var(--magenta-primary-color-darker);
  /* background: var(--magenta-active); */
  border: 0px none #ffffff;
  border-radius: 2rem;
}
.items.canary::-webkit-scrollbar-thumb {
  background: var(--canary-primary-color-darker);
  /* background: var(--canary-active); */
  border: 0px none #ffffff;
  border-radius: 2rem;
}
.items.ocean::-webkit-scrollbar-thumb {
  background: var(--ocean-primary-color-darker);
  /* background: var(--ocean-active); */
  border: 0px none #ffffff;
  border-radius: 2rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}
