.design-section {
  background: linear-gradient(-30deg, rgb(3, 38, 84), #0a132e 50%);
  background: #08122e;
  overflow: auto !important;
  width: 100vw;
  height: 100vh;
}
.design-section .design {
  position: relative;
  top: 0;
  left: 0;
  background: rgb(228, 228, 228);
  height: 45vh;
  width: 200%;
  transform: skewY(4.5deg) translateY(-3rem) scale(1.3);
}
.project-card h1 {
  font-size: 1.7rem !important;
}
.project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-container h1 {
  margin-bottom: 1rem;
  color: #073e68;
}
.project-container h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #073e68;
}

.project-card-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-2rem);
}
.project-card-section .project-card {
  padding: 2.6rem 5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 15px 4px rgba(154, 160, 185, 0.05),
    8px 8px 10px rgba(3, 8, 29, 0.23);
  overflow: hidden;
  text-align: left;
  position: relative;
  opacity: 0;
  animation: appear 0.55s forwards 0.1s;
}
.project-card-section .project-card p {
  font-size: 19px !important;
}
.project-card-section .project-card .project-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #073e68;
  margin-bottom: 0.7rem;
}
.project-card-section .project-card .info .description img:first-of-type {
  margin: 0.5rem 0;
  border-radius: 8px !important;
  transition: all 0.2s;
}
.project-card-section .project-card .info .description img:hover {
  transform: scale(0.98);
  transition: all 0.2s;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  border-radius: 0 !important;
}
.logo p {
  transition: all 0.2s;
  margin-top: 0.2rem;
  align-items: center;
  padding-right: 0 !important;
  font-size: 18px !important;
  width: 100% !important;
  color: rgb(1, 15, 34);
  margin-bottom: 0.5rem !important;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.2rem 2rem;
  padding-top: 0.7rem;
}
.logos h2 {
  color: black;
  font-weight: 400 !important;
  margin-bottom: 3rem;
}
.logos > * {
  margin: 0 1.3rem;
}
.logos > *:first-child {
}

.info {
  display: flex;
  flex-direction: column;
}

.info a {
  color: #073e68 !important;
  font-size: 1.2rem;
  text-decoration: underline !important;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all 0.2s;
}
.info ul {
  margin-bottom: 1rem;
}
.info ul li {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  list-style: disc;
}

.logo-wrap:hover > p {
  transform: scale(1.1) !important;
}

.information-wrapper {
  display: flex !important;
  flex-direction: column;
  max-width: 800px;
}
.information-wrapper .info p {
  font-size: 19px;
  white-space: pre-line;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.information-wrapper .btn {
  cursor: pointer;
  width: 40%;
  text-align: center;
  justify-content: flex-end;
  padding: 1.3rem 3rem !important;
  border-radius: 3rem !important;
  border-top-left-radius: 1rem !important;
  border: none;
  transition: all 0.3s;
  align-items: center;
  font-size: 1.3rem;
  background: rgb(4, 39, 85);
  color: white;
  border: 2px transparent solid;
}
.information-wrapper .btn:hover {
  transition: all 0.1s ease-in;
  background: rgb(4, 39, 85);
  border: 2px rgb(0, 110, 255) solid;
}
.information-wrapper .btn:active {
  opacity: 0.7;
}

.imageFill {
  color: rgb(6, 44, 94);
  transition: all 0.2s;
}
.imageFill:hover {
  color: rgb(9, 63, 163) !important;
  transform: scale(1.4);
  transition: all 0.2s;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem;
}
.git-btn {
  cursor: pointer;
  transition: all 0.2s;
  z-index: 400;
}
.git-btn:hover {
  transform: scale(1.5) rotate(10deg);
  transition: all 0.2s;
}

li {
  margin: 0.4rem 0;
}

@media screen and (max-width: 1800px) {
  .project-card-section .project-card img {
    width: 100%;
    margin: 0.6rem 0;
  }
  .project-card {
    font-size: 16px;
  }
  .information-wrapper .btn {
    padding: 1rem 1.5rem !important;
    transition: 0s;
    font-size: 1rem;
  }
  .project-card h1 {
    font-size: 1.7rem !important;
  }
  .project-card p {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 1.1rem;
  }
  .logos {
    justify-content: center;
    padding: 0;
  }

  .project-card {
    padding: 2rem 3rem !important;
    width: 90%;
    overflow: auto;
  }
  .project-card h1 {
    font-size: 1.6rem !important;
  }
  .project-card p {
    font-size: 1rem !important;
    width: 90%;
  }
  .img-btn {
    display: none;
  }
  .project-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media screen and (max-width: 400px) {
  .project-card {
    height: 100vh;
  }
  .project-card h1 {
    font-size: 1.4rem !important;
    white-space: nowrap;
    text-align: center;
  }
  .project-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .project-card {
    padding: 1.8rem 2rem;
    width: 100%;
    overflow: auto;
    border-radius: 0;
  }
  .button-container {
    width: 100%;
    padding: 0.4rem;
  }
} */
