.design-section {
  background: linear-gradient(-30deg, rgb(3, 38, 84), #0a132e 50%);
  background: #08122e;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  width: 100vw;
  height: 100vh;
}
.design-section .design {
  position: relative;
  top: 0;
  left: 0;
  background: var(--canary-primary-color-darker);
  height: 45vh;
  width: 200%;
  transform: skewY(4.5deg) translateY(-3rem) scale(1.3);
}
.project-card h1 {
  font-size: 1.7rem !important;
}
.project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-container h1 {
  margin-bottom: 1rem;
  color: #073e68;
}
.project-container h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #073e68;
}

.project-card-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-2rem);
}
.project-card-section .project-card {
  padding: 2.6rem 5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow:
    5px 15px 4px rgba(154, 160, 185, 0.05),
    8px 8px 10px rgba(3, 8, 29, 0.23);
  overflow: auto;
  text-align: left;
  position: relative;
  opacity: 0;
  animation: appear 0.55s forwards 0.1s;
  max-height: 80vh;
}
.project-card-section .project-card p {
  font-size: 19px !important;
}
.project-card-section .project-card .project-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #073e68;
  margin-bottom: 0.7rem;
}
.project-card-section .project-card .info .description img:first-of-type {
  margin: 0.5rem 0;
  border-radius: 8px !important;
  transition: all 0.2s;
}
.project-card-section .project-card .info .description img:hover {
  transform: scale(0.98);
  transition: all 0.2s;
}
.project-btn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.project-btn__wrapper p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  border-radius: 0 !important;
}
.logo p {
  transition: all 0.2s;
  margin-top: 0.2rem;
  align-items: center;
  padding-right: 0 !important;
  font-size: 18px !important;
  width: 100% !important;
  color: rgb(1, 15, 34);
  margin-bottom: 0.5rem !important;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.2rem 2rem;
  padding-top: 0.7rem;
  z-index: 10;
}
.logos h2 {
  color: black;
  font-weight: 400 !important;
  margin-bottom: 3rem;
}
.logos > * {
  margin: 0 1.3rem;
}
.logos > *:first-child {
}

.info {
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.info a {
  color: #073e68 !important;
  font-size: 1.2rem;
  text-decoration: underline !important;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all 0.2s;
}
.info ul {
  margin-bottom: 1rem;
}
.info ul li {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  list-style: disc;
}

.logo-wrap:hover > p {
  transform: scale(1.1) !important;
}

.information-wrapper {
  display: flex !important;
  flex-direction: column;
  max-width: 800px;
}
.information-wrapper .info p {
  font-size: 19px;
  white-space: pre-line;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.information-wrapper .btn {
  cursor: pointer;
  width: 40%;
  text-align: center;
  justify-content: flex-end;
  padding: 1.3rem 3rem !important;
  border-radius: 3rem !important;
  border-top-left-radius: 1rem !important;
  border: none;
  transition: all 0.3s;
  align-items: center;
  font-size: 1.3rem;
  background: rgb(4, 39, 85);
  color: white;
  border: 2px transparent solid;
}
.information-wrapper .btn:hover {
  transition: all 0.1s ease-in;
  background: rgb(4, 39, 85);
  border: 2px rgb(0, 110, 255) solid;
}
.information-wrapper .btn:active {
  opacity: 0.7;
}

.imageFill {
  color: rgb(6, 44, 94);
  transition: all 0.2s;
}
.imageFill:hover {
  color: rgb(9, 63, 163) !important;
  transform: scale(1.4);
  transition: all 0.2s;
}

.buttons-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  padding: 2rem 0rem;
}
/* Git caption */
.buttons-container p {
  text-align: center;
  margin-top: 0.3rem;
  color: rgb(1, 15, 34) !important;
}
.git-btn {
  cursor: pointer;
  transition: all 0.2s;
  z-index: 400;
  animation: pulse 2s ease-in-out infinite;
}
.git-btn:hover {
  transform: scale(1.5);
  transition: all 0.2s;
}

li {
  margin: 0.4rem 0;
}

@media screen and (max-width: 1800px) {
  .project-card-section {
    position: fixed;
    top: 14vh;
    left: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-1rem);
  }

  .project-card-section .project-card img {
    width: 90%;
    margin: 0.6rem 0;
  }
  .project-card {
    font-size: 16px;
  }
  .information-wrapper .btn {
    padding: 1rem 1.5rem !important;
    transition: 0s;
    font-size: 1rem;
  }
  .project-card h1 {
    font-size: 1.7rem !important;
  }
  .project-card p {
    font-size: 18px !important;
  }
  .buttons-container {
    padding: 0;
    position: relative;
    align-items: center;
  }
  .project-btn__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 1.1rem;
  }
  .logos {
    justify-content: center;
    padding: 0;
  }

  .project-card-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateY(-1rem);
  }

  /* @todo make github link and other buttons appear at the bottom for mobile */
  /* @todo make similar to the hamburger sidebar for mobile, but do it at the bottom of the card */
  .information-wrapper {
    padding: 2rem 1rem !important;
    transition: all 0.3s;
    font-size: 1.3rem;
  }

  .project-card {
    width: 100%;
    overflow: auto;
    /* text-align: center !important; */
    padding: 2.5rem 1.4rem !important;
    border-radius: 0 !important;
    height: 100vh;
  }
  .project-card h1 {
    font-size: 1.6rem !important;
  }
  .project-card p {
    font-size: 19px !important;
    width: 100%;
    padding: 0 1.05rem;
  }
  .img-btn {
    display: none;
  }
  .project-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .project-card__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure it's above other content */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
  }

  .project-card__header__left,
  .project-card__header__right {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  /* Ensures the content below the header is not hidden underneath */
  .project-card-section {
    padding-top: 16px; /* Adjust according to the actual height of your fixed header */
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(
      0 2px 2px rgba(0, 0, 0, 0)
    ); /* Initial shadow properties */
  }
  40% {
    transform: scale(1.2);
    filter: drop-shadow(
      0 3px 1.4px rgba(0, 0, 0, 0.2)
    ); /* Shadow properties during the scale */
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(
      0 0 0 rgba(0, 0, 0, 0.3)
    ); /* Reset shadow after the animation */
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media screen and (max-width: 400px) {
  .project-card {
    height: 100vh;
  }
  .project-card h1 {
    font-size: 1.4rem !important;
    white-space: nowrap;
    text-align: center;
  }
  .project-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .project-card {
    padding: 1.8rem 2rem;
    width: 100%;
    overflow: auto;
    border-radius: 0;
  }
  .buttons-container {
    width: 100%;
    padding: 0.4rem;
  }
} */
