.projects-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: auto;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px #e6e6e6; */
}

div.items {
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2.5rem;
  max-height: 570px !important;
  overflow: scroll;
  position: relative;
  padding-left: 0.8rem;
  /* padding: 1rem !important; TESTING */
  /* width: 110%; */
}

.view-more {
  position: absolute;
  top: 21%;
  right: 21%;
  font-size: 1rem;
  letter-spacing: 0.09rem;
  border: none;
  background: none;
  color: rgb(237, 236, 236);
  cursor: pointer;
  z-index: 30;
}

.view-more-active {
  position: absolute;
  top: 21%;
  right: 21%;
  font-size: 1rem !important;
  letter-spacing: 0.09rem;

  border: none;
  background: none;
  cursor: pointer;
  color: rgb(237, 236, 236);
  z-index: 30;
}

div.list {
  position: relative;
  cursor: pointer;
  padding: 0 2rem;
  border: 0.125rem #525151 solid;
  width: 350px;
}
div.list:hover::before {
  content: "";
  background: #000000c6;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}
div.list::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.913) 80%
  );
}

div.list:hover {
  border: rgb(199, 199, 199) 0.125rem solid;
}

.title-container {
  transform: translateY(0.8rem);
  font-weight: 600;
  user-select: none;
  color: white;
  font-family: "Segoe UI Variable", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease-in-out;
  /* display: none; */
}
.title-container p {
  transition: all 0.3s ease-in-out;
}
div.list:hover {
  transition: all 0.2s ease-in-out;
  justify-content: start;
  align-items: flex-start;
  padding: 0rem 1.2rem;
  /* display: none; */
}
div.list:hover .title-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.title-container p.short {
  font-weight: 400;
  color: rgb(218, 217, 217) !important;
  display: none;
}
div.list:hover .title-container p.short {
  display: block;
}

div.list {
  padding: 1rem;
  height: 160px;
  color: rgb(72, 71, 71) !important;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.project-git {
  position: relative;
}

.project-git .git {
  right: 0.9rem;
  bottom: 0.9rem;
  opacity: 0;
  position: absolute;
  transform: translateY(10px);
  transition: 0.2s ease-out;
}
.project-git:hover .git {
  transform: translateY(0);
  opacity: 1;
}

.project-git .git.github {
  font-size: 2rem;
  transition: all 0.15s ease-out;
}
.project-git .git.github:hover {
  font-size: 2.9rem;
  transform: translateY(2px) translateX(2px);
  transition: all 0.15s ease-in;
}

.project-git .tags {
  right: 0.25rem;
  top: 0.5rem;
  opacity: 0;
  position: absolute;
  transform: translateY(10px);
  display: flex;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s ease-out;
}
.project-git .tags .tag {
  padding: 3px 6px;
  border-radius: 0.3rem;
  font-size: 15px;
  color: white;
  border: white solid 1px;
  margin: 0 3px;
}
.project-git:hover .tags .tag {
  background: rgba(0, 0, 0, 0.59);
}

@media screen and (max-width: 1824px) {
  .projects-section {
    margin-top: 7rem !important;
    width: 70%;
    margin-left: 12rem !important;
    justify-content: center;
    align-items: center;
    padding-right: 0rem !important;
  }
  .title-container {
    transform: translateX(-3rem) translateY(0.5rem);
  }
  div.items {
    transition: all 0.6s;
    width: 120%;
  }
}
@media screen and (max-width: 1604px) {
  div.items {
    transition: all 1s;
    width: 100%;
  }
  .view-more {
    bottom: -6px;
    right: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .projects-section {
    position: fixed;
    width: 100%;
    height: auto;
    overflow: scroll;
    margin: 0 !important;
    margin-top: 8rem !important;
    border-bottom: 5rem transparent solid;
  }
  .projects {
    height: 75vh;
    padding-top: 0;
  }
  .title-container {
    transform: translateX(0) translateY(0);
  }
  div.items {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-left: 0;
    padding-bottom: 0rem;
  }
  div.list:hover {
    padding: 0.8rem 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .projects-section {
    margin-top: 8rem !important;
    width: 100%;
  }
  .projects {
    height: 70vh;
    width: 75vw;
  }
  div.items {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-content: center !important;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 350px) {
  div.items {
    gap: 1rem;
    padding-bottom: 0 !important;
  }
  .projects {
    width: 75vw;
    height: 64vh;
    padding-top: 0;
  }
}
