@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

:root {
  --portfolio-background: #020816;

  --canary-primary-color-darker: #e6b34d;
  --canary-primary-color: #ffcc66;
  --canary-primary-color-lighter: #ffe680;

  --ocean-primary-color-darker: #3e71af;
  --ocean-primary-color: #578ac8;
  --ocean-primary-color-lighter: #71a4e2;
  --ocean-primary-color-lightest: #97c6ff;

  --magenta-primary-color-darker: #dc2d81;
  --magenta-primary-color: #ed4797;
  --magenta-primary-color-lighter: #ee6cab;

  --leaf-primary-color-darker: #318e46;
  --leaf-primary-color: #4aa75f;
  --leaf-primary-color-lighter: #64c179;

  --canary-active: rgb(82, 113, 253);
  --ocean-active: #1fdb83;
  --magenta-active: #7092ff;
  --leaf-active: #3f6ad8;

  --error-color: #c84b31;

  --modals-background: #061024;
  --max-view-width: 3900px;

  --global-background-image: url(./assets/Animations/effects/noise.gif);
  --global-background-repeat: repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  transition-delay:
    background-color 5000s,
    color 5000s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none !important;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--portfolio-background);
  transition: transform 1s;
  overflow-x: hidden;
  overflow: hidden;
  font-family: "Roboto", "Open Sans", "sans-serif";
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed; /* Fixed position */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  background-repeat: repeat;
  opacity: 0.055;
}

/* Default */
body.noise::before {
  background-image: var(--global-background-image);
}

body.retro::before {
  background-image: url(./assets/Animations/effects/retro.gif);
  background-size: cover;
  opacity: 0.05;
}

.grayscale {
  filter: grayscale(40%);
  /* filter: hue-rotate(50deg) saturate(80%); */
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none !important;
}

li {
  list-style: none;
}

p {
  line-height: 1.4em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #aeb6c4;
  border: 0px none #ffffff;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
  }

  100% {
    opacity: 1;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(222, 5, 237);
  background: var(--canary-primary-color);
}

::selection {
  color: rgb(222, 5, 237) !important;
  background: var(--canary-primary-color);
}

@media screen and (max-width: 1824px) {
  body {
    transition: all 1s ease;
  }
}

@media screen and (max-width: 1200px) {
  body {
    transition: all 1s ease;
  }
}

.canary {
  color: var(--canary-primary-color) !important;
}

.leaf {
  color: var(--leaf-primary-color) !important;
}

.ocean {
  color: var(--ocean-primary-color) !important;
}

.magenta {
  color: var(--magenta-primary-color) !important;
}
