.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 18vh;
  left: 50%;
  width: 60%;
  height: 55vh;
  margin-left: -29%;
  background-color: white;
  min-height: 400px;
  border-radius: 2rem !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 400ms ease-out forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

/* if the screen is bigger than 1080 change the modal width */
@media screen and (min-height: 1080px) {
  .modal {
    width: 50%;
    left: 55%;
    height: 40%;
    top: 22rem;
  }
}
