section.colours-section {
  padding: 0rem 12.5rem;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 4rem;
  z-index: 21;
}

.colours-container {
  display: flex;
  overflow: auto;
  border-radius: 3rem;
  padding: 1.1rem 1rem;
  transition: all 0.5s ease-out;
  border: rgba(0, 4, 255, 0.357) 4px solid;
}
.colours-container:hover {
  transition: all 0.4s ease-in-out;
  border: rgba(0, 4, 255, 0.919) 4px solid;
  box-shadow: 2px 2px 25px rgb(0, 110, 255);
}

.colours-container > button {
  width: 25px;
  height: 25px;
  margin: 0 0.4rem;
  border-radius: 50%;
  color: rgba(6, 8, 106, 0.967);
  border: none;
  cursor: pointer;
  box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
}

.colours-container > button:active {
  box-shadow: inset 1px 1px 2px #000;
}

.canary {
  background-color: var(--canary-primary-color);
}
.leaf {
  background-color: var(--leaf-primary-color);
}
.ocean {
  background-color: var(--ocean-primary-color);
}
.magenta {
  background-color: var(--magenta-primary-color);
}

.colours-container > button.canary:active {
  background-color: var(--canary-primary-color-darker);
}
.colours-container > button.leaf:active {
  background-color: var(--leaf-primary-color-darker);
}
.colours-container > button.ocean:active {
  background-color: var(--ocean-primary-color-darker);
}
.colours-container > button.magenta:active {
  background-color: var(--magenta-primary-color-darker);
}

@media screen and (max-width: 1824px) {
  .colours-container {
    transform: scale(0.9);
    flex-direction: column;
    position: fixed;
    bottom: 4rem;
    left: 5rem;
    display: flex;
    overflow: auto;
    border-radius: 3rem;
  }

  .colours-container > button {
    width: 25px;
    height: 25px;
    margin: 0.3rem 0.3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 1200px) {
  .colours-container {
    flex-direction: column;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 900px) {
  .colours-container {
    display: none;
  }
}
