section.colours-section {
  padding: 0rem 12.5rem;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100vw !important;
  bottom: 5vh;
  z-index: 21;
}
.colours-wrapper {
  margin: auto;
  width: 2200px !important;
  min-width: var(--max-view-width) !important;
}

.colours-container {
  width: fit-content;
  display: flex;
  overflow: auto;
  border-radius: 3rem;
  padding: 0.85vw 0.8vw;
  transition: all 0.5s ease-out;
  border: rgba(0, 4, 255, 0.357) 0.4vh solid;
}

.colours-container:hover {
  transition: all 0.4s ease-in-out;
  border: rgba(0, 4, 255, 0.919) 0.4vh solid;
  box-shadow: 2px 2px 25px rgb(0, 110, 255);
}

.colours-container > button {
  width: 1.1vw;
  height: 1.1vw;
  margin: 0 0.25vw;
  border-radius: 50%;
  color: rgba(0, 2, 128, 0.967);
  border: none;
  cursor: pointer;
  box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
}

.colours-container > button:active {
  box-shadow: inset 1px 1px 2px #000;
}

.canary {
  background-color: var(--canary-primary-color);
}

.leaf {
  background-color: var(--leaf-primary-color);
}

.ocean {
  background-color: var(--ocean-primary-color);
}

.magenta {
  background-color: var(--magenta-primary-color);
}

.colours-container > button.canary:active {
  background-color: var(--canary-primary-color-darker);
}

.colours-container > button.leaf:active {
  background-color: var(--leaf-primary-color-darker);
}

.colours-container > button.ocean:active {
  background-color: var(--ocean-primary-color-darker);
}

.colours-container > button.magenta:active {
  background-color: var(--magenta-primary-color-darker);
}

/* Max zoom out */
@media screen and (min-width: 6091px) {
  .colours-container {
    transform: scale(1) !important;
    padding: 0.7vw 0.7vw;
  }
}

/* If the screen is bigger than 2k (i.e. zoom out) */
@media screen and (min-width: 2561px) {
  .colours-container {
    transform: scale(1.2);
    bottom: 10rem !important;
    border-radius: 3vw;
  }

  .colours-wrapper {
    margin: auto;
    width: 2200px !important;
    min-width: var(--max-view-width) !important;
    margin-bottom: 3vh !important;
    padding-left: 2vw;
  }

  .colours-container > button {
    width: 1vw;
    height: 1vw;
    margin: 0vh 0.2vw;
    color: rgba(6, 8, 106, 0.967);
    border: none;
    cursor: pointer;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 1824px) {
  .colours-container {
    transform: scale(0.9);
    flex-direction: column;
    position: fixed;
    bottom: 4rem;
    left: 5rem;
    display: flex;
    overflow: auto;
    border-radius: 3rem;
  }

  .colours-container > button {
    width: 25px;
    height: 25px;
    margin: 0.3rem 0.3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 1200px) {
  .colours-container {
    flex-direction: column;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 900px) {
  .colours-container {
    display: none;
  }
}
