/* The side navigation menu */
.sidebar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 330px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 401;
  background-color: var(--modals-background) !important;
  border: 1px solid #56698c;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: white;
  border-radius: 15px;
  word-spacing: 1px;
  letter-spacing: 0.6px;
}
.sidebar.slide-in {
  animation: slide-in 0.3s ease-out forwards !important;
}
.sidebar.slide-out {
  transition: all 2s;
  animation: slide-out 0.3s ease-out forwards !important;
}
.sidebar.slide-down {
  animation: slide-down 0.3s ease-out forwards !important;
}
.sidebar.slide-up {
  transition: all 2s;
  animation: slide-up 0.4s ease-out forwards !important;
}
/* Sidebar links */
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
}
.sidebar ul li {
  border: 1px solid transparent;
  margin-left: 0;
  border-left: 0;
  border-radius: 0px !important;
  display: flex;
  align-items: center;
  /* border: 1px solid #56698c; */
}
.sidebar ul li a {
  border-left: 8px solid transparent;
  padding-left: 1.5rem;
}
.sidebar ul li:hover {
  background: rgb(52, 52, 99);
  /* border: 1px dashed #56698c; */
}
.sidebar ul li img {
  transform: translateY(3px);
}
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
  font-size: 1.1rem;
}
.sidebar-brand {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 0.5rem;
}
.sidebar-brand > a {
  text-transform: uppercase;
  font-weight: 500;
}
.sidebar-brand > a:hover {
  color: #6397f0;
  text-decoration: underline !important;
}
.sidebar-brand .close-sidebar {
  cursor: pointer;
  font-size: 20px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(0.4rem); */
}

/* Header */
.sidebar-header {
  padding: 2rem;
  overflow: hidden;
}
.sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
.sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.sidebar-header .user-info {
  float: left;
  margin-top: 5px;
}
.sidebar-header .user-info > span {
  display: block;
}

.sidebar-separator {
  border-top: 1px solid #56698c;
}

.colour-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}
.colour-row button {
  height: 30px;
  width: 100%;
  background: white;
  cursor: pointer;
  border: none !important;
  opacity: 0.9;
  margin: 5px 0;
  margin-top: 0;
}

.sidebar-separator input.separator-menu,
.sidebar-separator .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

/* Make sidebar into topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    position: fixed;
  }
  .sidebar a {
    /* text-align: center; */
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #aeb6c4;
  border: 0px none #ffffff;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes slide-in {
  0% {
    left: -330px;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -330px;
  }
}
@keyframes slide-down {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

.canary {
  color: var(--canary-primary-color);
}
.leaf {
  color: var(--leaf-primary-color);
}
.ocean {
  color: var(--ocean-primary-color-lighter);
}
.magenta {
  color: var(--magenta-primary-color);
}

.canary.active {
  border-left: 8px solid var(--canary-primary-color) !important;
}
.leaf.active {
  border-left: 8px solid var(--leaf-primary-color) !important;
}
.ocean.active {
  border-left: 8px solid var(--ocean-primary-color) !important;
}
.magenta.active {
  border-left: 8px solid var(--magenta-primary-color) !important;
}
.active {
  font-weight: bold;
}

.canary-bg {
  background: var(--canary-primary-color) !important;
}
.leaf-bg {
  background: var(--leaf-primary-color) !important;
}
.ocean-bg {
  background: var(--ocean-primary-color) !important;
}
.magenta-bg {
  background: var(--magenta-primary-color) !important;
  transform: translateY(0.4px);
}

.hideIT {
  display: none;
}

.hideEN {
  display: none;
}
