.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 50%;
  width: 60%;
  height: fit-content;
  margin-left: -29%;
  background-color: white;
  border-radius: 2.2vh !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 400ms ease-out forwards;
}

/* 150% zoom and above */
@media screen and (max-height: 900px) {
  .modal {
    top: 18vh !important;
    width: 63%;
    height: 20rem !important;
  }
}

/* 110% zoom and below */
@media screen and (min-height: 1080px) {
  .modal {
    top: 22vh !important;
    width: 50%;
    left: 55%;
    height: 43%;
  }
}

/* If the screen is bigger than 2k (i.e. zoom out) */
@media screen and (min-width: 2561px) {
  .modal {
    top: 22vh !important;
    width: 60%;
    left: 50%;
    height: 46%;
    top: 22rem;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}
