nav {
  position: fixed;
  top: 0;
  display: flex;
  padding: 0rem 12.5rem;
  justify-content: flex-start;
  margin: 0 auto !important;
  width: 100vw !important;
  z-index: 10;
}

.hamburger-container {
  height: 100%;
  margin: 3rem 5rem;
  display: flex;
  padding-bottom: -0.4rem;
  padding: 0.8rem;
  z-index: 400;
  border-radius: 4rem;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  padding-top: 3rem;
  /* border: 4px solid #4e0aed; */
  width: 100vw;
}

.navbar ul li {
  padding: 2rem;
  /* border: 4px solid #0bdf40; */
  list-style-type: none;
  font-size: 1.2rem;
}

/* Put last li element at flex-end of ul */
.navbar ul li:last-of-type {
  margin-left: auto !important;
}

.navbar ul li a {
  position: relative;
}
.navbar ul li a.active {
  padding-bottom: -0.4rem;
  /* border-bottom: 4px solid #be1b1b; */
}
.navbar ul li a.active:hover:after,
.navbar ul li a.active:hover:before {
  width: 0;
}

/* Canary yellow color scheme */
.navbar ul.canary li a {
  color: var(--canary-primary-color);
}
.navbar ul.canary li a:hover {
  color: var(--canary-primary-color-lighter);
}
.navbar ul.canary li a.active {
  color: var(--canary-active);
}

/* Magenta color scheme */
.navbar ul.magenta li a {
  color: var(--magenta-primary-color);
}
.navbar ul.magenta li a:hover {
  color: var(--magenta-primary-color-lighter);
}
.navbar ul.magenta li a.active {
  color: var(--magenta-active);
}

/* Blue ocean color scheme */
.navbar ul.ocean li a {
  color: var(--ocean-primary-color-lighter);
}
.navbar ul.ocean li a:hover {
  color: var(--ocean-primary-color-lightest);
}
.navbar ul.ocean li a.active {
  color: var(--ocean-active);
}

/* Green leaf color scheme */
.navbar ul.leaf li a {
  color: var(--leaf-primary-color);
}
.navbar ul.leaf li a:hover {
  color: var(--leaf-primary-color-lighter);
}
.navbar ul.leaf li a.active {
  color: var(--leaf-active);
}

@media only screen and (min-width: 64em) {
  .navbar ul li a:hover:after,
  .navbar ul li a:hover:before {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 1824px) {
  .navbar ul {
    display: none;
    flex-direction: column;
  }
  nav {
    /* position: relative; */
    padding: 0;
    z-index: 0;
  }
}

@media screen and (max-width: 900px) {
  nav {
    position: relative;
    padding: 0;
    z-index: 0;
  }
  .hamburger-container {
    margin: 0.5rem 1rem;
    display: flex;
    align-items: flex-start;
    padding-bottom: -0.4rem;
  }
}
