.scrollIn {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  background: rgb(10, 0, 31);
  z-index: 900;
  animation: scroll-in 0.6s forwards;
}
.scrollOut {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(10, 0, 31);
  z-index: 900;
  animation: scroll-out 0.6s forwards;
}

@keyframes scroll-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes scroll-out {
  0% {
    opacity: 1;
    width: 1;
  }
  100% {
    width: 0;
  }
}

.fadeOut {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(71, 24, 174);
  z-index: 99;
  animation: fadeOut 0.9s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    width: 1;
  }
  100% {
    opacity: 0;
  }
}
